<%- include("header"); %>
<div class="row">
    <div class="col wrapper wrapit in-right">
        <p class="secure shine">Secure Transfers. Anytime, Anywhere.</p>
        <form action="customer.html" method="GET">
            <div><button type="submit" class="btn btn-outline-dark view shine">View</button> </div>
        </form>
        <form action="customer.html" method="GET">
            <div><button type="submit" class="btn btn-outline-dark transfer shine">Transfer</button></div>
        </form>
        <form action="history.html" method="GET">
            <div><button type="submit" class="btn btn-outline-dark transaction shine">Transaction History</button>
            </div>
        </form>
    </div>
    <div class="col disp in-left">
        <img src="img.jpg" alt="">
    </div>
</div>
</div>
</body>
<style>
    body {
        overflow-y: hidden;
    }
</style>
<script>
    document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
            document.querySelector(
                "body").style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                "body").style.visibility = "visible";
        }
    };
</script>

</html>